<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="../users/img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="CodePixar">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Shoe Rack</title>
  <!--
		CSS
		============================================= -->
  <link rel="stylesheet" href="../users/css/linearicons.css">
  <link rel="stylesheet" href="../users/css/font-awesome.min.css">
  <link rel="stylesheet" href="../users/css/themify-icons.css">
  <link rel="stylesheet" href="../users/css/bootstrap.css">
  <link rel="stylesheet" href="../users/css/owl.carousel.css">
  <link rel="stylesheet" href="../users/css/nice-select.css">
  <link rel="stylesheet" href="../users/css/nouislider.min.css">
  <link rel="stylesheet" href="../users/css/ion.rangeSlider.css" />
  <link rel="stylesheet" href="../users/css/ion.rangeSlider.skinFlat.css" />
  <link rel="stylesheet" href="../users/css/magnific-popup.css">
  <link rel="stylesheet" href="../users/css/main.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

  <style>
    .original-price {
  text-decoration:  line-through;
  color: red;
}
  </style>
</head>

<body>
  <%- include('../layouts/header.ejs') %>


    <div class="container" style="margin-top: 165px; margin-bottom: 50px;">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">All Products</div>
            <ul class="main-categories">
              <li class="main-nav-list"><a class="nav-link" href="/shop"><span class="lnr lnr-arrow-right"></span>All
                  Products</a></li>
              </li>
            </ul>
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <% category.forEach(function(item) { %>
                <li class="main-nav-list"><a class="nav-link" href="/categoryShop?id=<%= item._id %>"><span
                      class="lnr lnr-arrow-right"></span>
                    <%= item.categoryName.toUpperCase() %>
                  </a></li>
                </li>
                <% }) %>
            </ul>
            <div class="head">Price Sort</div>
            <ul class="main-categories">
              <li class="main-nav-list"><a class="nav-link" href="/shop?sort=price_asc"><span
                    class="lnr lnr-arrow-right"></span>Low --> high</a></li>
              <li class="main-nav-list"><a class="nav-link" href="/shop?sort=price_desc"><span
                    class="lnr lnr-arrow-right"></span>HIgh --> Low</a></li>
              </li>
            </ul>
            <div class="head">Price Filter</div>
            <ul class="main-categories">
              <li class="main-nav-list"><a class="nav-link" href="/shop?minPrice=1&&maxPrice=1000"><span
                    class="lnr lnr-arrow-right"></span>₹ 1 to ₹ 1000</a></li>
              <li class="main-nav-list"><a class="nav-link" href="/shop?minPrice=1000&&maxPrice=5000"><span
                    class="lnr lnr-arrow-right"></span>₹ 1000 to ₹ 5000</a></li>
              <li class="main-nav-list"><a class="nav-link" href="/shop?minPrice=5000&&maxPrice=10000"><span
                    class="lnr lnr-arrow-right"></span>₹ 5000 to ₹ 10000</a></li>
              <li class="main-nav-list"><a class="nav-link" href="/shop?minPrice=10000&&maxPrice=100000"><span
                    class="lnr lnr-arrow-right"></span>Above ₹ 10000</a></li>


              </li>
            </ul>
            <!-- Price range filter section -->

          </div>

        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <% if(product.length!=0){ %>
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list"  >
              <div class="row" >
                <!-- single product -->

                <!-- single product -->
                <% product.forEach((item)=> { %>
                  <div class="col-lg-4 col-md-6" >

                    <div class="single-product" >
                      <a href="/product?id=<%=item._id %>">
                        <img class="img-fluid" style="height: 275px;" src="../productImages/<%= item.images[0]%>"  alt=""> 
                          
                      </a>
                      <div class="product-details">
                        <small>
                          <%=item.category.categoryName%>
                        </small>
                        <h6 title="<%=item.productName %>" class="tooltip-ellipsis">
                          <%=item.productName %>
                        </h6>


                        <div class="price">
                          <% if(item.discountedPrice>0){ %>
                            <h6>
                              <span class="original-price" ><%= item.price%></span>
                            </h6>
                            <h6><i class="fa fa-inr" aria-hidden="true"> </i>
                              <%=item.discountedPrice%>
                            </h6>
                          <% }else{ %>
                        <h6><i class="fa fa-inr" aria-hidden="true"> </i>
                          <%= item.price%>
                        </h6>
                        <% } %>
                        </div>
                        <div class="prd-bottom">

                          <a onclick="addtocart('<%=item._id%>')" class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text">add to bag</p>
                          </a>
                          <a onclick="addToWishList('<%=item._id%>')" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Wishlist</p>
                          </a>
                          <a href="/product?id=<%=item._id %>" class="social-info">
                            <span class="lnr lnr-move"></span>
                            <p class="hover-text">view more</p>
                          </a>
                        </div>
                      </div>
                    </div>

                  </div>
                  <% }) %>

              </div>
            </section>
            <% }else{ %>
              <center>
                <div class="col-lg-5">
                  <div class="typography text-center">
                    <h1>NO MATCHING ITEMS</h1>
                  </div>
              </center>
        </div>
        <% } %>
      </div>
    </div>
    </div>


    <%- include('../layouts/footer.ejs') %>



      <script>
        function addtocart(proId) {
          $.ajax({
            url: '/addToCart/' + proId,
            method: 'POST',

            success: (response) => {
              if (response.status == true) {
                Swal.fire({
                  title: 'Added To Cart',
                  text: 'Your Product has been added to Cart',
                  icon: 'success',
                  timer: 5000
                })

              } else if (response.status == false) {
                Swal.fire({
                  title: 'Out of Stock',
                  text: 'Product Out Of Stock',
                  icon: 'error',
                  timer: 5000
                })
              }
            }
          })
        }
      </script>


      <script>
        function addToWishList(proId) {
          event.preventDefault();
          $.ajax({
            url: '/addToWishlist',
            method: 'POST',
            data: {
              proId: proId
            },
            success: (response) => {
              console.log('addTowishlist:', response.status);
              if (response.status == true) {
                // Product added to Wishlist successfully
                Swal.fire({
                  position: 'centre',
                  icon: 'success',
                  title: 'Product added to wish list',
                  showConfirmButton: false,
                  timer: 1500
                })


              } else {
                // Error adding product to Wishlist
                Swal.fire({
                  icon: 'error',
                  title: 'Product already exist in Wishlist',
                  timer: 2000
                });

              }
            }
          })
        }



      </script>


      <script src="../users/js/vendor/jquery-2.2.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
      <script src="../users/js/vendor/bootstrap.min.js"></script>
      <script src="../users/js/jquery.ajaxchimp.min.js"></script>
      <script src="../users/js/jquery.nice-select.min.js"></script>
      <script src="../users/js/jquery.sticky.js"></script>
      <script src="../users/js/nouislider.min.js"></script>
      <script src="../users/js/jquery.magnific-popup.min.js"></script>
      <script src="../users/js/owl.carousel.min.js"></script>
      <!--gmaps Js-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
      <script src="../users/js/gmaps.min.js"></script>
      <script src="../users/js/main.js"></script>
</body>

</html>